

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>create</title>
</head>
<body>
    <a href="/Todo/Index">List</a>
    <form  method="post"> 
        <input type="text" placeholder="Title" name="Title"/>
        <input type="text" placeholder="Description" name="Description" />
        <input type="datetime-local"  name="Deadline" />
        <button>Create task</button>
    </form>
</body>
</html>
